<section class="hidden md:flex flex-col w-full lg:w-[70%] mt-5 mx-auto">
  <div class="flex justify-center my-5">
    <div class="w-[200px] h-[200px] bg-amber-300"></div>
  </div>
  <div class="flex justify-center my-5">
    <div class="w-[200px] h-[200px] bg-amber-300"></div>
  </div>
  <div class="flex justify-around my-5">
    <div class="w-[200px] h-[200px] bg-amber-300"></div>
    <div class="w-[200px] h-[200px] bg-amber-300"></div>
  </div>
  <div class="flex justify-around my-5">
    <div class="w-[200px] h-[200px] bg-amber-300"></div>
    <div class="w-[200px] h-[200px] bg-amber-300"></div>
    <div class="w-[200px] h-[200px] bg-amber-300"></div>
  </div>
</section>
