<div class="overflow-hidden w-full h-[300px] md:h-[700px] relative">
  <div class="flex carouselMovement h-[300px] md:h-[700px]" #carrousel>
    <div class="bg-amber-300 min-w-full w-full" #slide>
      <img src="../../../../../assets/imgs/testImages/pexels-ludodelot-18471441 (1).jpg" alt="" class="w-full h-full lg:h-auto">
    </div>
    <div class="bg-blue-500 min-w-full w-full" #slide>
      <img src="../../../../../assets/imgs/testImages/pexels-fauxels-3183150.jpg" alt="" class="w-full h-full lg:h-auto">
    </div>
    <div class="bg-rose-500 min-w-full w-full" #slide>
      <img src="../../../../../assets/imgs/testImages/pexels-ludodelot-18471478.jpg" alt="" class="w-full h-full lg:h-auto">
    </div>
  </div>
  <div class="absolute z-30 bottom-0 w-full h-full flex justify-center">
    <div class="flex justify-between w-full h-full mx-4 items-center">
      <button class="text-3xl cursor-pointer hover:text-gray-100" (click)="moves(0)"><</button>
      <div class="relative gap-2 self-end">
        @for (buttons of objImages; track $index; let idx = $index) {
          <button (click)="goToSlide(idx)">
            <i class="fa-solid fa-circle text-gray-100/70 text-xs mx-1 cursor-pointer mb-5" #navigationButtons></i>
          </button>
        }
      </div>
      <button class="text-3xl cursor-pointer hover:text-gray-100" (click)="moves(1)">></button>
    </div>
  </div>
</div>


