
<h1 class="text-center mt-4 text-4xl font-bold">Nosotros</h1>
<section class="h-fit w-[80%] mx-auto md:flex-row mt-2 gap-5 md:w-full p-5">
    <div class="flex flex-col md:w-full gap-2">
        <div class="flex flex-col border-1 border-gray-200 rounded-[5px] md:w-full md:flex-row">
            <div class="bg-amber-300 h-[200px] w-full max-w-[400px]">img1</div>
            <div class="p-3">
                <h1 class="font-bold text-2xl">Nuestra mision</h1>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit, autem veritatis deleniti reiciendis fugit laudantium eos quam labore ratione atque? Quam odio eligendi illum in necessitatibus similique unde perspiciatis esse.      
                </p>
            </div>
        </div>
        <div class="flex flex-col border-1 border-gray-200 rounded-[5px] md:w-full md:flex-row-reverse">
            <div class="bg-amber-300 h-[200px] w-full max-w-[400px]">img2</div>
            <div class="p-3">
                <h1 class="font-bold text-2xl">Nuestro proposito</h1>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit, autem veritatis deleniti reiciendis fugit laudantium eos quam labore ratione atque? Quam odio eligendi illum in necessitatibus similique unde perspiciatis esse.      
                </p>
            </div>
        </div>
    </div>
</section>
