
<section class="h-fit w-full mx-auto mt-10  md:flex-row gap-5 md:w-full p-4">
  <h1 class="text-4xl font-bold text-center mt-5">Aqui es donde la innovación y la creatividad se vuelven una</h1>
  <h2 class="text-md text-center mb-20 text-gray-800">Lo que nos ha marcado como laboratorio</h2>
  <div class="flex flex-col md:w-full gap-10">
      <div class="flex flex-col md:w-full md:flex-row relative border-black border-r-6">
          <img src="../../../../../assets/imgs/logoInacap.webp" alt="" class="w-[100px] h-[100px] absolute right-0 bottom-0 hidden md:block ">
          <div class="bg-amber-300 h-[250px] w-[1200px] max-w-[600px] hidden md:block md:h-[300px]">
            <img src="../../../../../assets/imgs/testImages/pexels-goumbik-574077.jpg" alt="" class="w-full h-full md:h-full object-cover">
          </div>
          <div class="p-4">
              <h1 class="font-bold text-3xl">Nuestra mision</h1>
              <p class="w-full text-[1rem] mt-2">El laboratorio universitario tiene como misión fomentar el pensamiento crítico, la experimentación rigurosa y la colaboración interdisciplinaria. Su objetivo es generar conocimiento y desarrollar nuevas tecnologías a través de la investigación, el aprendizaje práctico y la innovación.
              </p>
          </div>
      </div>
      <div class="flex flex-col md:w-full md:flex-row-reverse relative border-black border-l-6">
          <img src="../../../../../assets/imgs/logoInacap.webp" alt="" class="w-[100px] h-[100px] absolute left-0 bottom-0 hidden md:block">
          <div class="bg-amber-300 h-[250px] w-[1200px] max-w-[600px] hidden md:block md:h-[300px]">
            <img src="../../../../../assets/imgs/testImages/pexels-paduret-1476321.jpg" alt="" class="w-full h-full md:h-full object-cover">
          </div>

          <div class="p-4">
              <h1 class="font-bold text-3xl">Nuestro proposito</h1>
              <p class="w-full text-[1rem] mt-2">El propósito del laboratorio es proporcionar un entorno adecuado para la aplicación de métodos científicos, la formación de profesionales altamente capacitados y la resolución de problemas relevantes para la comunidad.
              </p>
          </div>
      </div>
    </div>
</section>
