<div
  class="text-2xl divider divider-end pl-[5%] pr-[5%] pt-10 text-fablab-text-primary"
>
  Proyectos destacados:
</div>

<section
  class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 gap-4 sm:gap-5 md:gap-6 lg:gap-6 xl:gap-8 px-4 sm:px-6 lg:px-10 xl:px-16 max-w-[1600px] mx-auto mt-10"
>
  <app-card
    *ngFor="let proyecto of proyecto | slice : 0 : 3"
    [title]="proyecto.title"
    [description]="proyecto.description"
    [imgUrl]="proyecto.imgUrl"
    [routerLink]="['/proyectos', proyecto.projectId]"
  ></app-card>
</section>

<div class="divider text-2xl pl-[5%] pr-[5%] pt-10 pb-10 border-fablab-border">
  <button
    [routerLink]="['./proyectos']"
    class="bg-fablab-accent text-lg sm:text-xl px-6 py-3 bg-fablab-primary border border-fablab-border rounded-2xl shadow-md hover:shadow-lg transition-all duration-300 hover:scale-105 font-semibold text-black"
  >
    Ver más proyectos
  </button>
</div>
