<div class="max-w-lg mx-auto">

<h1 class="text-2xl text-center">Formulario de Ingreso</h1>

        <form autocomplete="off">

<div class="mt-3.5 pl-4 h-9 border-1 text-gray-400 border-gray-200 rounded-md">
    <input type="text"
    class="w-full h-full bg-transparent outline-none"
    placeholder="Nombre Completo">
</div>

<div class="mt-3.5 pl-4 h-9 border-1 text-gray-400 border-gray-200 rounded-md" >
    <input type="number"
    class="w-full h-full bg-transparent outline-none [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none"
    placeholder="RUT">
</div>

<div class="mt-3.5 pl-4 h-9 border-1 text-gray-400 border-gray-200 rounded-md">
    <input type="text"
    class="w-full h-full bg-transparent outline-none"
    placeholder="Correo Institucional">
</div>

<div class="mt-3.5 h-9 border-1 text-gray-400 border-gray-200 rounded-md">
        <select id="programa" class="w-full h-full bg-transparent outline-none">
        <option disabled selected>Selecciona una opción</option>
        <option value="admin-empresas">Administración de Empresas</option>
        <option value="contabilidad">Contabilidad General</option>
        <option value="admin-publica">Técnico en Administración Pública</option>
        <option value="contador-publico">Contador Público</option>
        <option value="ing-admin-empresas">Ingeniería en Administración de Empresas</option>
        <option value="gastronomia">Gastronomía</option>
        <option value="admin-gastronomica">Administración Gastronómica</option>
        <option value="tec-enfermeria">Técnico en Enfermería</option>
        <option value="tec-farmacia">Técnico en Farmacia</option>
        <option value="gestion-turistica">Gestión Turística</option>
        <option value="tec-construccion">Técnico en Construcción</option>
        <option value="tec-topografia">Técnico en Topografía y Geomática</option>
        <option value="construccion-civil">Construcción Civil</option>
        <option value="ing-geomen-geom">Ingeniería en Geomensura y Geomática</option>
        <option value="geomensura">Ingeniería en Geomensura y Geomática</option>
        <option value="energias-renovables">Técnico en Energías Renovables</option>
        <option value="ingenieria-energia">Ingeniería en Energía</option>
        <option value="logistica">Técnico en Logística</option>
        <option value="ingenieria-logistica">Ingeniería en Logística</option>
        <option value="mantenimiento-industrial">Técnico en Mantenimiento Industrial</option>
        <option value="mecatronica">Técnico en Mecatrónica</option>
        <option value="electromovilidad">Técnico en Mecánica y Electromovilidad Automotriz</option>
        <option value="ingenieria-mantenimiento">Ingeniería en Mantenimiento Industrial</option>
        <option value="ingenieria-mecatronica">Ingeniería en Mecatrónica</option>
        <option value="ingenieria-electromovilidad">Ingeniería en Mecánica y Electromovilidad Automotriz</option>
        <option value="metalurgia">Técnico en Metalurgia Extractiva</option>
        <option value="mineria">Técnico en Minería</option>
        <option value="prevencion-riesgos">Técnico en Prevención de Riesgos y Gestión de Emergencias</option>
        <option value="ingenieria-metalurgia">Ingeniería en Metalurgia</option>
        <option value="ingenieria-minas">Ingeniería en Minas</option>
        <option value="automatizacion-robotica">Técnico en Automatización y Robótica</option>
        <option value="ingenieria-automatizacion">Ingeniería en Automatización y Robótica</option>
        <option value="animacion-videojuegos">Animación Digital y Videojuegos</option>
        <option value="diseño-digital-web">Diseño Digital y Web</option>
        <option value="diseño-digital-profesional">Diseño Digital Profesional</option>
        <option value="tec-electricidad-indutrial">Técnico en Electridcidad Industrial</option>
        <option value="tec-teleco-servicios">Técnico en Telecomunicaciones y Servicios Digitales</option>
        <option value="ing-elect">Ingeniería Eléctrica</option>
        <option value="analista-programador">Analista Programador</option>
        <option value="ing-nformatica">Ingeniería en Informatica</option>>
    </select>
</div>



<div class="mt-3.5 pl-4 h-9  border-1 text-gray-400 border-gray-200 rounded-md">
    <input type="number"
    class="w-full h-full bg-transparent outline-none [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none"
    placeholder="+ 56 9">
</div>
<br>

                    <button type="submit"
                            class="btn btn-warning float-left">
                        Guardar
                    </button>
            <br>
            <br>
            <br>
        </form>

    </div>

