<div class="swiper mx-auto">
  <swiper-container
    slides-per-view="3"
    speed="500"
    loop="true"
    pagination-dynamic-bullets="true"
    space-between="20"
    class="p-6"
    style="--swiper-pagination-bottom: -15px; padding-bottom: 25px"
  >
    @for (member of teamMembers; track member.name) {
    <swiper-slide>
      <div class="w-full aspect-square overflow-hidden rounded-xl">
        <img
          [src]="member.img"
          [alt]="'Foto de ' + member.name"
          class="w-full h-full object-cover"
        />
      </div>

      <p class="text-fablab-text-primary text-center text-2xl">
        {{ member.name }}
      </p>

      <p class="text-fablab-text-primary text-center text-xs">
        {{ member.role }}
      </p>
    </swiper-slide>
    }
  </swiper-container>
</div>
