<div class="md:hidden">
<div class="swiper max-w-[350px] mx-auto">
  <swiper-container  slides-per-view="1"  speed="500" loop="true" class="p-6">
    <swiper-slide>
      <div class="w-full h-[300px] bg-amber-300"></div>
      <p class="text-center text-2xl">Nombre</p>
      <p class="text-center text-xs">Descripcion del cargo</p>
    </swiper-slide>
    <swiper-slide>
      <div class="w-full h-[300px] bg-green-300"></div>
      <p class="text-center text-2xl">Nombre</p>
      <p class="text-center text-xs">Descripcion del cargo</p>
    </swiper-slide>
    <swiper-slide>
      <div class="w-full h-[300px] bg-blue-300"></div>
      <p class="text-center text-2xl">Nombre</p>
      <p class="text-center text-xs">Descripcion del cargo</p>
    </swiper-slide>
    <swiper-slide>
      <div class="w-full h-[300px] bg-black"></div>
      <p class="text-center text-2xl">Nombre</p>
      <p class="text-center text-xs">Descripcion del cargo</p>
    </swiper-slide>
  </swiper-container>
  </div>
</div>

