<div class="swiper max-w-[600px] mx-auto">
  <swiper-container
    slides-per-view="2"
    speed="500"
    loop="true"
    pagination-dynamic-bullets="true"
    class="p-6"
  >
    <swiper-slide>
      <div class="w-full aspect-auto bg-amber-300">
        <img
          src="../../../../../../../assets/imgs/headshots/pexels-alexwolfmx-14541208 (1).jpg"
          alt=""
          class="h-full w-full"
        />
      </div>
      <p class="text-white text-center text-2xl">Nombre</p>
      <p class="text-white text-center text-xs">Descripcion del cargo</p>
    </swiper-slide>
    <swiper-slide>
      <div class="w-full aspect-auto bg-green-300">
        <img
          src="../../../../../../../assets/imgs/headshots/pexels-trace-2834009.jpg"
          alt=""
          class="h-full w-full"
        />
      </div>
      <p class="text-white text-center text-2xl">Nombre</p>
      <p class="text-white text-center text-xs">Descripcion del cargo</p>
    </swiper-slide>
    <swiper-slide>
      <div class="w-full aspect-auto bg-blue-300">
        <img
          src="../../../../../../../assets/imgs/headshots/pexels-linkedin-2182970.jpg"
          alt=""
          class="h-full w-full"
        />
      </div>
      <p class="text-white text-center text-2xl">Nombre</p>
      <p class="text-white text-center text-xs">Descripcion del cargo</p>
    </swiper-slide>
    <swiper-slide>
      <div class="w-full aspect-auto bg-black">
        <img
          src="../../../../../../../assets/imgs/headshots/pexels-trace-2834009.jpg"
          alt=""
          class="h-full w-full"
        />
      </div>
      <p class="text-white text-center text-2xl">Nombre</p>
      <p class="text-white text-center text-xs">Descripcion del cargo</p>
    </swiper-slide>
  </swiper-container>
</div>
