<footer class="bg-slate-900 text-slate-300 px-6 py-10">
  <div
    class="max-w-7xl mx-auto flex flex-col md:flex-row justify-between items-center gap-8"
  >
    <!-- Logo y frase -->
    <div class="flex items-center gap-4 text-center md:text-left">
      <img
        src="../../../assets/imgs/logo.jpg"
        alt="logo fablab"
        class="w-16 h-16 rounded-2xl"
      />
      <p class="text-sm leading-snug">
        <span class="font-semibold text-white">Fablab Inacap Maipú</span><br />
        Fundado y liderado por y para estudiantes
      </p>
    </div>

    <!-- Redes sociales -->
    <div class="flex space-x-4">
      <a
        href="#"
        class="hover:text-indigo-400 transition"
        aria-label="Instagram"
      >
        <i class="fab fa-instagram text-2xl"></i>
      </a>
      <a
        href="#"
        class="hover:text-indigo-400 transition"
        aria-label="Facebook"
      >
        <i class="fab fa-facebook text-2xl"></i>
      </a>
      <a
        href="#"
        class="hover:text-indigo-400 transition"
        aria-label="LinkedIn"
      >
        <i class="fab fa-linkedin text-2xl"></i>
      </a>
    </div>
  </div>

  <!-- Línea inferior -->
  <div
    class="border-t border-slate-700 mt-10 pt-4 text-sm text-center text-slate-500"
  >
    ©2025 Fablab Inacap Maipú. Todos los derechos reservados.
  </div>
</footer>
