/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@plugin "daisyui";


/* Tabla de estilos Fablab (Nueva) */
@theme{


    --color-fablab-bg: #FFFFFF;        /* (Blanco Puro, base del layout) */
    --color-fablab-card-bg: #e9e9e9;   /* (Gris Muy Claro, fondo de tarjetas/sidebar - bg-gray-100) */
    --color-fablab-border: #E5E7EB;    /* (Gris Claro, bordes y divisores - border-gray-200) */


    --color-fablab-text-primary: #1F2937; /* (Gris Oscuro, títulos y texto principal - text-gray-800) */
    --color-fablab-text-secondary: #6B7280; /* (Gris Medio, texto secundario - text-gray-500) */


    --color-fablab-accent: #FFCC00;         /* (Amarillo FabLab, acento principal y botones activos) */
    --color-fablab-accent-dark: #FFB600;    /* (Amarillo Oscuro, para el hover del acento) */
    --color-fablab-danger: #DC2626;         /* (Rojo, Danger/Eliminar) */
    --color-fablab-success: #16A34A;        /* (Verde, Éxito) */
}