<div class="mt-2 max-w-screen">
  <div class="border-r border-gray-100 p-4 shadow-lg">
    <h2 class="text-2xl font-bold">Proyectos</h2>
    <h2 class="text-xl mt-2">Filtros</h2>
    <div class="divider my-2"></div>
    <div class="mt-4 grid grid-cols-1 gap-1">
      <div class="flex flex-col">
        Nombre del proyecto:
        <input
          type="text"
          id="name"
          class="mt-2 block w-full rounded-md border border-gray-200 px-2 py-2 shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50"
        />
      </div>

      <!-- ------------------------------------------------------------------------------------------------------------------------------------- -->
      <div class="divider m-0"></div>

      <div class="flex flex-col">
        <label class="font-medium mb-1">Tipo de proyecto</label>
        <div class="flex flex-col gap-2 mt-2" >
          <label class="inline-flex items-center">
            <input
              type="checkbox"
              class="form-checkbox text-blue-600"
              value="Impresion 3D"
              #options
            />
            <span class="ml-2">Impresion 3D</span>
          </label>
          <label class="inline-flex items-center">
            <input
              type="checkbox"
              class="form-checkbox text-blue-600"
              value="Corte laser"
              #options
            />
            <span class="ml-2">Corte laser</span>
          </label>
          <label class="inline-flex items-center">
            <input
              type="checkbox"
              class="form-checkbox text-blue-600"
              value="Electronica"
              #options
            />
            <span class="ml-2">Electronica</span>
          </label>
          <label class="inline-flex items-center">
            <input
              type="checkbox"
              class="form-checkbox text-blue-600"
              value="Otro"
            />
            <span class="ml-2">Mixto</span>
          </label>
          <label class="inline-flex items-center">
            <input
              type="checkbox"
              class="form-checkbox text-blue-600"
              value="Otro"
              #options
            />
            <span class="ml-2">Otro</span>
          </label>
        </div>
      </div>

      <button class="btn w-full" (click)="applyFilters()">Aplicar filtros</button>



      <!-- ------------------------------------------------------------------------------------------------------------------------------------- -->
      <div class="divider m-0"></div>

      <div class="flex flex-col">
        Fecha de creación:
        <input
          type="date"
          id="date"
          class="mt-2 block w-full rounded-md border border-gray-200 px-2 py-2 shadow-sm outline-none focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50"
        />
      </div>
    </div>
  </div>
</div>
