<div class="mt-2 p-4 w-fit h-full hidden sm:block border-r border-gray-100 shadow-lg">
    <h1 class="text-2xl font-bold">Maquinas</h1>
    <h2 class="text-xl mt-2">Filtros</h2>
    <div class="divider my-2"></div>
    <ul class="mt-2">
        @for (category of categories; track $index) {
          <div class="flex my-2" [routerLink]="`/maquinas/${category.url}`" [routerLinkActive]="['border-l-4','font-bold']" (click)="emitCategoryToMachines(category.name)">
            <li class="cursor-pointer hover:bg-gray-300/20 rounded-md w-full">
              <p class="ml-2">
                {{category.name}}
              </p>
            </li>
          </div>
        }
    </ul>
</div>



