
<div class="relative w-full">
  <div class="carousel w-full h-[250px] md:h-[350px] bg-gray-300">
    <div id="item1" class="carousel-item w-full bg-amber-300">img 1</div>
    <div id="item2" class="carousel-item w-full bg-amber-600">img 2</div>
    <div id="item3" class="carousel-item w-full bg-green-400">img 3</div>
    <div id="item4" class="carousel-item w-full bg-blue-400">img 4</div>
  </div>

  <div class="flex w-full justify-center gap-2 absolute bottom-0 mb-2">
    <a href="#item1" class="btn btn-xs">1</a>
    <a href="#item2" class="btn btn-xs">2</a>
    <a href="#item3" class="btn btn-xs">3</a>
    <a href="#item4" class="btn btn-xs">4</a>
  </div>
</div>
