
<div class="w-full h-screen relative">
  <canvas #modelthree class="overflow-hidden w-full h-full absolute z-10" (click)="detectObject($event)">
  </canvas>
  <div class="absolute h-full p-5 w-full z-10 pointer-events-none" #firstElement>
    <div class="min-w-[200px] max-w-[400px]">
      <h1 class="font-bold text-2xl">Bienvenido al tour de la {{modelo3dTest.content.title}}</h1>
      <p>Descubre la tecnología que está revolucionando la fabricación: nuestra nueva Máquina de Impresión 3D, diseñada para ofrecer precisión, eficiencia y versatilidad.
        Con una estructura optimizada y un sistema avanzado de impresión,
        esta máquina permite la creación de piezas detalladas con una calidad excepcional.
      </p>
      <button class="btn cursor-pointer mt-4 pointer-events-auto" (click)="nextCameraPosition()">Comenzar tour</button>
    </div>
  </div>
  <div #informativeElements class="absolute w-full h-full z-10 pointer-events-none">
  </div>
  <button class="btn absolute right-0 pointer-events-auto z-10" (click)="free3dMovement()">Activar movimiento libre</button>
</div>



